In [1]:
import pandas as pd

In [2]:
# def caged_xlsx_to_csv():
# caged_xlsx_to_csv()

file_in = 'C:/Users/Rogerup/Downloads/CAGED/3-tabelas_FEV.xlsx'
file_out = 'caged.csv'

skiprows = 4  # [0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0]

# Base com todas as planilhas
dfb = pd.read_excel(file_in, sheet_name=None, skiprows=skiprows)
print(dfb.keys())

C:\Users\Rogerup\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

dict_keys(['CAGED', 'Sumário', 'Tabela 1', 'Tabela 2', 'Tabela 3', 'Tabela 4', 'Tabela 5', 'Tabela 5.1', 'Tabela 6', 'Tabela 6.1', 'Tabela 7', 'Tabela 7.1', 'Tabela 8', 'Tabela 8.1'])

In [3]:
# Transformações aqui

# df_out = ...
# df_out.to_csv(file_out)

In [4]:
# Exemplo com uma tabela
dfb['Tabela 5.1']

,Unnamed: 0,Mês,Estoque,Admissões,Desligamentos,Saldos,Variação Relativa (%)
0,NaN,Janeiro/2020,38228184.0,1510568.0,1398611.0,111957.0,----
1,NaN,Fevereiro/2020,38445391.0,1614177.0,1396970.0,217207.0,0.568186
2,NaN,Março/2020,38150336.0,1460074.0,1755129.0,-295055.0,-0.767465
3,NaN,Abril/2020,37168502.0,665007.0,1646841.0,-981834.0,-2.573592
4,NaN,Maio/2020,36770059.0,762009.0,1160452.0,-398443.0,-1.071991
5,NaN,Junho/2020,36716025.0,962543.0,1016577.0,-54034.0,-0.146951
6,NaN,Julho/2020,36824435.0,1177481.0,1069071.0,108410.0,0.295266
7,NaN,Agosto/2020,37038958.0,1329407.0,1114884.0,214523.0,0.582556
8,NaN,Setembro/2020,37338331.0,1491114.0,1191741.0,299373.0,0.808265
9,NaN,Outubro/2020,37704350.0,1663104.0,1297085.0,366019.0,0.980277
10,NaN,Novembro/2020,38080472.0,1655938.0,1279816.0,376122.0,0.997556
11,NaN,Dezembro/2020,37922964.0,1335990.0,1493498.0,-157508.0,-0.413619
12,NaN,Janeiro/2021,38177257.0,1711739.0,1457446.0,254293.0,0.670551
13,NaN,Fevereiro/2021,38574720.0,1864617.0,1467154.0,397463.0,1.041099
14,NaN,Março/2021,38727513.0,1757653.0,1604860.0,152793.0,0.396096
15,NaN,Abril/2021,38816396.0,1499975.0,1411092.0,88883.0,0.229509
16,NaN,Maio/2021,39082079.0,1647879.0,1382196.0,265683.0,0.684461
17,NaN,Junho/2021,39396309.0,1691460.0,1377230.0,314230.0,0.804026
18,NaN,Julho/2021,39700072.0,1758754.0,1454991.0,303763.0,0.771044
19,NaN,Agosto/2021,40083168.0,1907515.0,1524419.0,383096.0,0.964976
20,NaN,Setembro/2021,40407952.0,1878172.0,1553388.0,324784.0,0.810275
21,NaN,Outubro/2021,40655905.0,1827239.0,1579286.0,247953.0,0.613624
22,NaN,Novembro/2021,40961865.0,1838754.0,1532794.0,305960.0,0.75256
23,NaN,Dezembro/2021,40678355.0,1463031.0,1746541.0,-283510.0,-0.692132
24,NaN,Janeiro/2022,40828710.0,1805745.0,1655390.0,150355.0,0.369619
25,NaN,Fevereiro/2022,41157217.0,2013143.0,1684636.0,328507.0,0.804598
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Fonte: Novo Caged – STRAB/MTP.,NaN,NaN,NaN,NaN,NaN
29,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN

In [5]:
df = dfb['Tabela 5.1']
df

,Unnamed: 0,Mês,Estoque,Admissões,Desligamentos,Saldos,Variação Relativa (%)
0,NaN,Janeiro/2020,38228184.0,1510568.0,1398611.0,111957.0,----
1,NaN,Fevereiro/2020,38445391.0,1614177.0,1396970.0,217207.0,0.568186
2,NaN,Março/2020,38150336.0,1460074.0,1755129.0,-295055.0,-0.767465
3,NaN,Abril/2020,37168502.0,665007.0,1646841.0,-981834.0,-2.573592
4,NaN,Maio/2020,36770059.0,762009.0,1160452.0,-398443.0,-1.071991
5,NaN,Junho/2020,36716025.0,962543.0,1016577.0,-54034.0,-0.146951
6,NaN,Julho/2020,36824435.0,1177481.0,1069071.0,108410.0,0.295266
7,NaN,Agosto/2020,37038958.0,1329407.0,1114884.0,214523.0,0.582556
8,NaN,Setembro/2020,37338331.0,1491114.0,1191741.0,299373.0,0.808265
9,NaN,Outubro/2020,37704350.0,1663104.0,1297085.0,366019.0,0.980277
10,NaN,Novembro/2020,38080472.0,1655938.0,1279816.0,376122.0,0.997556
11,NaN,Dezembro/2020,37922964.0,1335990.0,1493498.0,-157508.0,-0.413619
12,NaN,Janeiro/2021,38177257.0,1711739.0,1457446.0,254293.0,0.670551
13,NaN,Fevereiro/2021,38574720.0,1864617.0,1467154.0,397463.0,1.041099
14,NaN,Março/2021,38727513.0,1757653.0,1604860.0,152793.0,0.396096
15,NaN,Abril/2021,38816396.0,1499975.0,1411092.0,88883.0,0.229509
16,NaN,Maio/2021,39082079.0,1647879.0,1382196.0,265683.0,0.684461
17,NaN,Junho/2021,39396309.0,1691460.0,1377230.0,314230.0,0.804026
18,NaN,Julho/2021,39700072.0,1758754.0,1454991.0,303763.0,0.771044
19,NaN,Agosto/2021,40083168.0,1907515.0,1524419.0,383096.0,0.964976
20,NaN,Setembro/2021,40407952.0,1878172.0,1553388.0,324784.0,0.810275
21,NaN,Outubro/2021,40655905.0,1827239.0,1579286.0,247953.0,0.613624
22,NaN,Novembro/2021,40961865.0,1838754.0,1532794.0,305960.0,0.75256
23,NaN,Dezembro/2021,40678355.0,1463031.0,1746541.0,-283510.0,-0.692132
24,NaN,Janeiro/2022,40828710.0,1805745.0,1655390.0,150355.0,0.369619
25,NaN,Fevereiro/2022,41157217.0,2013143.0,1684636.0,328507.0,0.804598
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Fonte: Novo Caged – STRAB/MTP.,NaN,NaN,NaN,NaN,NaN
29,NaN,* A variação mensal do emprego toma como refer...,NaN,NaN,NaN,NaN,NaN

In [6]:
df[['Saldos']]

      Saldos
0   111957.0
1   217207.0
2  -295055.0
3  -981834.0
4  -398443.0
5   -54034.0
6   108410.0
7   214523.0
8   299373.0
9   366019.0
10  376122.0
11 -157508.0
12  254293.0
13  397463.0
14  152793.0
15   88883.0
16  265683.0
17  314230.0
18  303763.0
19  383096.0
20  324784.0
21  247953.0
22  305960.0
23 -283510.0
24  150355.0
25  328507.0
26       NaN
27       NaN
28       NaN
29       NaN

In [7]:
df[['Saldos']].to_csv(file_out)